<div class="container" ng-init="functions.data()">
    <div class="content">
        <div class="row">
            <label>Make</label>
            <input ng-model="objetcs.cars.make" type="text">
            <label>Model</label>
            <input ng-model="objetcs.cars.model" type="text">
            <label>Year</label>
            <input ng-model="objetcs.cars.year" type="text">
            <button type="submit" ng-click="functions.getAllCArs(objetcs.cars.make,objetcs.cars.model,objetcs.cars.year)">Search</button>

            <label>Filter modelName<input ng-model="modelName"></label><br>
            <table class ="table table-striped">
                <tr>
                    <th>name</th>
                    <th>body</th>
                    <th>tuner</th>
                    <th>fuel</th>
                    <th>modelName</th>
                    <th>niceName</th>
                    <th>trim</th>
                </tr>
                <tr ng-repeat="style in lists.Styles | filter:modelName">
                    <td>{{style.name}}</td>
                    <td>{{style.submodel.body}}</td>
                    <td>{{style.submodel.tuner}}</td>
                    <td>{{style.submodel.fuel}}</td>
                    <td>{{style.submodel.modelName}}</td>
                    <td>{{style.submodel.niceName}}</td>
                    <td>{{style.trim}}</td>
                </tr>
            </tableclass>

        </div>
    </div>
</div> <!-- /container -->

